{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DAVINCI</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles/mystyle.css">
    <script src="https://kit.fontawesome.com/3c39ae7953.js" crossorigin="anonymous"></script>

</head>

<body>
    <header>
        <div class="container-fluid">
            <div class="row bg-info pt-2">
                <div class="col-md-6 ">
                    <div class="d-flex flex-row  mb-3 ">
                        <a href="">
                            <div class="p-2 align-items-center "><i
                                    class="fa-sharp fa-solid fa-phone"></i>+91-7035588159 </div>
                        </a>
                        <div class="pt-2">|</div>
                        <a href="">
                            <div class="p-2 "><i class="fa-solid fa-envelope"></i>davinci@gmail.com</div>
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="d-flex flex-row  mb-3 pt-2 ps-5 d-inline" style="float: right;">
                        <a href="">
                            <h4><i class="fa-brands fa-facebook-f"></i></h4>
                        </a>
                        <a href="">
                            <h4><i class="fa-brands fa-instagram ps-3"></i></h4>
                        </a>
                        <a href="">
                            <h4><i class="fa-brands fa-youtube ps-3"></i></h4>
                        </a>
                        <a href="">
                            <h4><i class="fa-brands fa-twitter ps-3"></i></h4>
                        </a>
                    </div>

                </div>
            </div>
        </div>

        <!--NAVBAR-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <h3><span style="font-family: 'Times New Roman', Times, serif;">DAVINCI</span><span
                            style="color: grey;"> SPA_CENTRE</span></h3>
                </div>
                <div class="col-md-4">
                    <nav class="navbar navbar-expand-lg bg-light" style="z-index: 1; position: fixed;">
                        <div class="container-fluid">

                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                    <li class="nav-item">
                                        <a href="{% url 'consumer:home' %}" class="nav-link active" aria-current="page" href="#">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'consumer:history' %}">About</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{% url 'consumer:works' %}" class="nav-link" href="">Services</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'consumer:show' %}">Gallery</a>
                                    </li>

                                    
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'consumer:call' %}">Contact</a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" role="button"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                            More
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="{% url 'consumer:enchance' %}">Suggestions</a></li>
                                            <li><a class="dropdown-item" href="{% url 'consumer:testimonials' %}">Testimonials</a></li>


                                        </ul></li>
                                    

                                </ul>

                            </div>
                        </div>
                    </nav>
                </div>
                
                <div class="col-md-4 pt-2 mb-3" style="float: right;">
                    
                    <a href="{% url 'consumer:works' %}"><button type="button" class="btn btn-info " style="float: right;"> Book Now
             
                    </button></a>
                    <a href="" style="float: right;">
                        <h4><i class="fa-solid fa-cart-shopping"></i></h4>
                    </a>
                    
                </div>
            </div>
        </div>
    </header>

    <section><!--HOME-->
        <div class="container-fluid">

            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active position-relative" style="min-height: 100vh;">
                        <img src="{% static 'images/carousel_1.jpg' %}" class="d-block w-100 h-100 position-relative"
                            style="object-fit: contain;">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>First slide label</h5>
                            <p>Some representative placeholder content for the first slide.</p>
                        </div>
                    </div>
                    <div class="carousel-item  position-relative" style="min-height: 100vh;">
                        <img src="{% static 'images/carousel_2.jpg' %}" class="d-block w-100 h-100 position-relative "
                            style="object-fit: contain;">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>First slide label</h5>
                            <p>Some representative placeholder content for the first slide.</p>
                        </div>
                    </div>
                    <div class="carousel-item  position-relative" style="min-height: 100vh;">
                        <img src="{% static 'images/carousel_3.jpg' %}" class="d-block w-100 h-100 position-relative"
                            style="object-fit: contain;">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>First slide label</h5>
                            <p>Some representative placeholder content for the first slide.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="..." class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Third slide label</h5>
                            <p>Some representative placeholder content for the third slide.</p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

        </div>
    </section><!--HOME-ENDS-->


    <section><!--WELCOME-->
        <div class="container-fluid">
            <div class="row text-center mt-5">
                <div class="col-md-12 ">
                    <h3>WELCOME</h3>
                </div>
            </div>
            <div class="row text-center mt-3">
                <div class="col-md-12 ">
                    <p>One of our favourite things that our guests say is that when they think of Davinci, they think of
                        love and laughter – ours, and theirs, which <br>is a really lovely compliment.</p>
                    <p>At the heart of Davinci is a very passionate family and team, dedicated to creating lasting
                        memories for our guests, who return time and <br>again for romance, celebrations and escapes.
                        For us, hospitality starts with a very warm welcome and ends with a friendly goodbye, with
                        <br>extraordinary service, exquisite décor and stunning culinary experiences in between.
                    </p>
                    <p>We love Davinci, and very much hope that you will too</p>
                </div>
            </div>
        </div>

    </section>

    <section>
        <div class="container-fluid">
            <div class="row mt-5">
                <div class="col-md-5 mt-5 pt-2 ">
                    <img src="{% static 'images/room4.jpg' %}" alt="" class="w-100 rounded float-start">
                </div>
                <div class="col-md-3">
                    <img src="{% static 'images/room5.jpg' %}" alt="" class="w-100 rounded float-end">
                </div>

                <div class="col-md-4 mt-5 text-center pt-5">
                    <!-- <h3>Quit your job, buy a ticket, get a tan, fall in love, never return.</h3> -->
                    <h3 class="mt-5 pt-5">Don’t <br> worry <br> #Beach happy</h3>
                </div>
            </div>
        </div>
    </section><!--WELCOME-ENDS->

    <!-MAGICAL-ESCAPES -->
    <section>
        <div class="container-fluid">
            <div class="row text-center mt-5">
                <div class="col-md-12 ">
                    <h3>MAGICAL ESCAPES</h3>
                </div>
            </div>
            <div class="row text-center mt-3">
                <div class="col-md-12 ">
                    <p>
                        Our guests visit us for many reasons, often milestones such as birthdays, minimoons, honeymoons,
                        babymoons,<br> anniversaries, celebrations, rest and recovery, romance, spending time with dear
                        friends, and loved ones or simply to <br>awaken the senses. We set the scene as beautifully as
                        we can, so you can truly enjoy the time together without worry,<br> and create priceless
                        memories.
                    </p>
                </div>
            </div>
        </div>

    </section> <!--MAGICAL-ESCAPES-ENDS -->



    <section>
        <div class="container-fluid">
            <div class="row align-items-center mt-5 ">
                <div class="col-md-4 pl-4">
                    <img src="{% static 'images/escape1.jpg' %}" alt="" class="w-100">
                </div>
                <div class="col-md-4">
                    <img src="{% static 'images/escape2.jpg' %}" alt="" class="w-100">
                </div>
                <div class="col-md-4">
                    <img src="{% static 'images/escape8.jpg' %}" alt="" class="w-100">
                </div>
            </div>
        </div>
    </section>

    <section><!--Your-Tummy-->
        <div class="container-fluid">
            <div class="row text-center mt-5">
                <div class="col-md-12">
                    <h3>YOUR TUMMY...</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-12">
                    <p>With a fascinating history as a centre of the spice trade it embody the aroma of God’s Own
                        Country</p>
                    <p>The flavour of spices lingers long in one’s tongue and even longer in one’s memory.</p>
                    <p>We offers wide varieties of traditional foods such as:</p>
                    <p>Puttu And Kadala Curry,Idiyappam With Curry,Appam With Ishtu (Stew)</p>

                </div>
            </div>
        </div>
    </section>

    <!--SERVICES-->
    <section>
        <div class="container-fluid" id="our_ser">
            <div class="row text-center mt-5">
                <div class="col-md-12">
                    <h3>OUR SERVICES</h3>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-3 ps-5">
                    <div class="card" style="width: 18rem;">
                        <img src="{% static 'images/service_1.jpg' %}" class="card-img-top " alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Aesthetics & Anti-ageing</h5>
                            <p class="card-text">Helps to reduce fine lines , wrinkles and improves skin tone and texture</p>
                            <a href="{% url 'consumer:facial' %}" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card" style="width: 18rem;">
                        <img src="{% static 'images/service_2.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Hot Stone Massage</h5>
                            <p class="card-text">Helps to relieve muscle tension , pain and reduces stress and anxiety</p>
                            <a href="#" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card" style="width: 18rem;">
                        <img src="{% static 'images/service_3.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Yoga</h5>
                            <p class="card-text">Helps to improve strength,balance and flexibility</p>
                            <a href="#" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card" style="width: 18rem;">
                        <img src="{% static 'images/service_4.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Steam Bath</h5>
                            <p class="card-text">Helps to improve skin health and lowering blood pressure</p>
                            <a href="#" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>

            </div>
            <!-- <div class="row">
                <div class="col-md-2 ">
                    <div class="card pl-2" style="width: 18rem;">
                        <img src="static/images/service_1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                      </div>
                </div>
                <div class="col-md-2">
                    <div class="card" style="width: 18rem;">
                        <img src="static/images/service_2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                      </div>
                </div>
                <div class="col-md-2">
                    <div class="card" style="width: 18rem;">
                        <img src="static/images/service_3.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                      </div>
                </div>
                <div class="col-md-2">
                    <div class="card" style="width: 18rem;">
                        <img src="static/images/service_4.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                      </div>
                </div>
                <div class="col-md-2">
                    <div class="card" style="width: 18rem;">
                        <img src="static/images/service_1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                      </div>
                </div> -->

        </div>

    </section>


    <section><!--ABOUT-->
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-6 mt-5 ">
                    <img src="{% static 'images/about2.jpg' %}" class="img-fluid w-50 h-30 rounded float-start" alt="">
                </div>
                <div class="col-md-6 ">
                    <h3>LOTS OF LUXURY, ZERO PRETENTIOUSNESS</h3>
                    <p>Relaxed and unhurried, there are no weddings, conferences or children under seven to disturb the
                        peace, just warm smiles,<br> fresh flowers, and friendly, unpretentious service. The interiors
                        are stylish, warm and comfortable; the individually designed bedrooms have crisp white
                        linen,<br> luxurious bathrooms and gorgeous fabrics, art and upholstery. The spirit of Gilpin is
                        motivated by love and laughter – <br>our guests’, and ours.</p>
                    <h3>WE HOPE TO SEE YOU SOON x</h3>
                </div>
            </div>
        </div>
    </section><!--ABOUT-ENDS-->



    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
</body>

</html>